<section class="segment white" id="about">
  <div class="about-text-block">

    <h2 class="about-heading">Über mich</h2>

    <div class="about-logo-wrapper">
  <div class="about-logo">
      <img src="/assets/images/svg-18402x14.svg" alt="Decorative icon">
  </div>
</div>

    <div class="about-grid">
      <div class="about-col">
        <p>
          Meine Leidenschaft für die Fotografie entbrannte im letzten Jahr meines Studiums an der Universität Salzburg,
          als ich mehrere Lehrveranstaltungen zu diesem Thema besuchte. Hier wurde mir bewusst, dass die Fotografie mehr als ein Hobby für mich ist.
        </p>
      </div>

      <div class="about-col">
        <p>
          Beim Fotografieren kann ich mich verlieren, es bereitet mir eine enorme Freude mit dem Licht zu spielen
          und die Schönheit des Augenblicks einzufangen. Natürlich braucht es auch immer etwas Glück.
        </p>
      </div>

      <div class="about-col">
        <p>
          Ich bin 1981 geboren und lebe mit meinem Mann und mit meinem Hund in Salzburg. Gemeinsame Zeit mit den Beiden in der Natur
          zu verbringen ist für mich neben dem Fotografieren die schönste Beschäftigung.
        </p>
      </div>
    </div>

    <a id="schervinaltmann" class="scroll-anchor"></a>
  </div>
</section>
