<section class="segment artverwandt" id="artverwandt">
  <div class="artverwandt-content">
    <p class="artverwandt-tagline">made with love, for great people.</p>
    
    <a href="https://artverwandt.website" target="_blank" title="artverwandt.website" class="artverwandt-logo-link">
      <img
        src="/assets/images/artverwandt.png"
        srcset="/assets/images/artverwandt_2x.png 2x"
        alt="artverwandt logo"
        width="80"
        height="80"
        class="artverwandt-logo"
      />
    </a>
  </div>
  <a href="#top" class="go-to-top" title="Zurück nach oben">
  <img src="/assets/images/gototop_prodigy.png" alt="Go to top" />
</a>
</section>
