<section class="segment white" id="claim">
  <div class="claim-text-block">

    <h1 class="quote">
      Fotografie ist die Geschichte, die man nicht in Worte fassen kann.
    </h1>

    <div class="claim-logo">
      <img src="/assets/images/svg-116808x39.svg" alt="Decorative logo">
    </div>

    <div class="claim-grid">
      <div class="claim-col">
        <p>
          In der Fotografie gibt es keine Schatten, die nicht beleuchtet werden können.
          Ich bin <strong>Schervin Altmann</strong> und <strong>Fotografin</strong> in Salzburg.
          Ich freue mich darauf, Momente im Leben für Sie in Bildern festzuhalten!
        </p>
      </div>

      <div class="claim-col">
        <p>
          Sie möchten neue Kunden gewinnen? Mit neuen Bildern für
          <strong>WEB &amp; SOCIAL MEDIA</strong> oder wo auch immer Informationen vermittelt werden,
          spielen Fotos eine wichtige Rolle. Sie sind ein wichtiger Teil des Contents.
        </p>
      </div>

      <div class="claim-col">
        <p class="fade-in">
          Oder suchen Sie eine Fotografin für <strong>PEOPLE &amp; WEDDING</strong>? Ich halte
          authentisch und natürlich die Emotionen für Sie fest und agiere auch unauffällig.
          Es ist ein Moment der Verlegenheit und lebenslanger Freude.
        </p>
      </div>
    </div>

  </div>
</section>

