<section class="segment black" id="contact">
  <div class="contact-content">

    <h2 class="contact-heading">So kommen wir in Kontakt</h2>
    <div class="contact-decoration">
      <img src="/assets/images/svg-57414x19.svg" alt="Decorative SVG" />
    </div>

    <div class="contact-grid">
      <!-- Contact Info -->
      <div class="contact-col">
        <h3>Schervin Altmann</h3>
        <p>
          <a href="https://www.google.com/maps/place/Altmann+Fotografie/@47.7755409,13.0050621,17z" target="_blank">
            Mehrlgutweg 11<br>5020 Salzburg<br>Österreich
          </a>
        </p>
      </div>

      <!-- Contact Methods -->
	  <div class="contact-details">
  <div class="contact-row">
    <span>Schervin Altmann</span>
    <img src="/assets/images/icon_phone17x17.png" alt="Phone icon">
    <a href="tel:+4369919082556">+43 699 19082556</a>
  </div>

  <div class="contact-row">
    <span>Mehrlgutweg 11</span>
    <img src="/assets/images/icon_email17x17.png" alt="Email icon">
    <a href="mailto:hallo@altmannfotografie.at">hallo@altmannfotografie.at</a>
  </div>

  <div class="contact-row">
    <span>5020 Salzburg</span>
    <img src="/assets/images/icon_instagram17x17.png" alt="Instagram icon">
    <a href="https://www.instagram.com/schervin_altmann/" target="_blank">instagram.com/schervin_altmann</a>
  </div>

  <div class="contact-row">
    <span>Österreich</span>
    <img src="/assets/images/icon_facebook17x17.png" alt="Facebook icon">
    <a href="https://www.facebook.com/altmannfotografie" target="_blank">facebook.com/altmannfotografie</a>
  </div>
</div>

    </div>


    <a class="scroll-anchor" id="kontakt-anchor"></a>
  </div>
</section>
