<section class="segment black" id="contact">
  <div class="contact-content">

    <h2 class="contact-heading">So kommen wir in Kontakt</h2>

    <div class="contact-decoration">
      <img src="/assets/images/svg-57414x19.svg" alt="Decorative SVG" />
    </div>

	<div class="contact-grid-3x3">

  <div class="contact-cell">Schervin Altmann</div>
  <div class="contact-cell icon"><img src="/assets/images/icon_phone17x17.png" alt="Phone" /></div>
  <div class="contact-cell"><a href="tel:+4369919082556">+43 699 19082556</a></div>

  <div class="contact-cell">Mehrlgutweg 11</div>
  <div class="contact-cell icon"><img src="/assets/images/icon_email17x17.png" alt="Email" /></div>
  <div class="contact-cell"><a href="mailto:hallo@altmannfotografie.at">hallo@altmannfotografie.at</a></div>

  <div class="contact-cell">5020 Salzburg</div>
  <div class="contact-cell icon"><img src="/assets/images/icon_instagram17x17.png" alt="Instagram" /></div>
  <div class="contact-cell"><a href="https://www.instagram.com/schervin_altmann/" target="_blank">instagram.com/schervin_altmann</a></div>

  <div class="contact-cell">Österreich</div>
  <div class="contact-cell icon"><img src="/assets/images/icon_facebook17x17.png" alt="Facebook" /></div>
  <div class="contact-cell"><a href="https://www.facebook.com/altmannfotografie" target="_blank">facebook.com/altmannfotografie</a></div>
		</div>
  <div class="contact-circle-image">
  <img src="/assets/images/kontakt_sw.jpg" alt="Portrait" class="circle-img img-default" />
  <img src="/assets/images/kontakt_col.jpg" alt="Portrait Hover" class="circle-img img-hover" />
</div>

		<a class="scroll-anchor" id="kontakt-anchor"></a>
  </div>
</section>
